
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native/
!native/engine/
!native/engine/android/
!native/engine/android/app/
!native/engine/android/app/src/
!native/engine/android/app/src/com/
!native/engine/android/app/src/com/cocos/
!native/engine/android/app/src/com/cocos/game/
!native/engine/android/app/src/com/cocos/game/ClipboardHelper.java
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/